---
// Props can be added here if needed in the future
---

<header class="header">
  <div class="container">
    <h1 class="logo">Japan Travel Blog</h1>
    <nav class="nav">
      <ul>
        <li><a href="/spring">Spring</a></li>
        <li><a href="/summer">Summer</a></li>
        <li><a href="/autumn">Autumn</a></li>
        <li><a href="/winter">Winter</a></li>
      </ul>
    </nav>
  </div>
</header>

<link rel="stylesheet" href="../styles/Header.css">