---
// Props: latitude, longitude, zoom
const { latitude, longitude, zoom } = Astro.props;
---

<div class="map-container">
  <iframe
    class="map-frame"
    src={`https://www.google.com/maps/embed/v1/view?key=YOUR_API_KEY&center=${latitude},${longitude}&zoom=${zoom}`}
    allowfullscreen
    loading="lazy"></iframe>
</div>

<link rel="stylesheet" href={`${import.meta.env.BASE_URL}/styles/Map.css`} />
